@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Caivun';
        font-style: normal;
        src: url('/font/CAIVUN.OTF') format('opentype');
    }
    @font-face {
        font-family: 'Dead Hammer';
        font-style: normal;
        src: url('/font/dead-hammer.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Indeciso';
        font-style: normal;
        src: url('/font/INDECISO_2.7.OTF') format('opentype');
    }
    @font-face {
        font-family: 'Kaukhia';
        font-style: normal;
        src: url('/font/Kaukhia_release_1.woff') format('woff');
    }
    @font-face {
        font-family: 'Rollerball-1';
        font-style: normal;
        src: url('/font/rollerball-1.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Straka';
        font-style: normal;
        src: url('/font/straka.ttf') format('truetype');
    }
}

